:root {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2;
  font-weight: 400;
  background-color: rgb(36, 33, 36);
}

@keyframes randomGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
